*.pyc
*.npz
*.npy
*.__pycache__
/.idea
/.empl_cache/
/_tests/
/launch/
/__pycache__/
/.pytest_cache/
output/
*numpy_*
*.xz
*.DS_Store
.ipynb_checkpoints/
*.log

morpho_symm/robot_harmonic_decomposition.py
/morpho_symm/experiments/
