<?xml version="1.0" ?>
<robot name="bolt_humanoid"
  xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
  xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
  xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
  xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface">

  <xacro:property name="mesh_ext" value="stl" />
  <xacro:property name="color_name" value="grey" />
  <xacro:property name="color" value="0.8 0.8 0.8" />
  <xacro:property name="opacity" value="1.0" />
  <xacro:property name="new_leg" value="true" />
  <xacro:property name="has_passive_ankle" value="false" />

  <!-- Include the legs -->
  <xacro:include filename="bolt_humanoid.xacro"/>

  <!-- Include the fully parametrized bolt -->
  <xacro:bolt_humanoid_full
      mesh_ext="${mesh_ext}"
      color_name="${color_name}"
      color="${color}"
      opacity="${opacity}"
      new_leg="${new_leg}"
      has_passive_ankle="${has_passive_ankle}"/>

</robot>
